extends layout

block content
  h1 Olin SEO Elections 2013
  p
    | Cast your vote below. You can recast it as often as you'd like before 8PM Tuesday, April 16th.

  form(method='post')
    h2 CORe Elections
    div
      each value in ['Bulbasaur', 'Charmander', 'Squirtle']
        label
          input(name='vote-core', type='radio', value=value, checked=answers['vote-core']==value)
          |  #{value}
      label
        input(name='vote-core', type='reset', value='Reset')

    h2 SAC Elections
    div
      each value in ['Pepsi', 'Coke']
        label
          input(name='vote-sac', type='radio', value=value, checked=answers['vote-sac']==value)
          |  #{value}
      label
        input(name='vote-sac', type='reset', value='Reset')

    h2 Honor Board Elections
    div
      each value in ['McDonald\'s', 'Burger King']
        label
          input(name='vote-hb', type='radio', value=value, checked=answers['vote-hb']==value)
          |  #{value}
      label
        input(name='vote-hb', type='reset', value='Reset')

    div
      button.btn.btn-success Submit Vote
