extends layout

block content
  style
    label:hover { background: #ffb; }
    label { padding: 3px; margin: 2px; background: #eee; }
    .uncheck { color: #bbb; } .uncheck:hover { color: #000; }

  div.header(style="text-align: center; max-width: 800px; margin: 15px auto; border: 1px solid #ccc; background: #eee; padding: 10px 15px; border-radius: 10px")
    h1 Olin SEO Elections 2013
    p(style="font-size: 16px") For each position, vote for any and all candidate(s) you feel would <b>excel</b> in that office. The candidate(s) with the highest tally are elected. Any candidate must receive at least 15% of the vote in order to take office.
    p All Olin students who are planning on being campus the following semester are eligible to vote in any Student Experience Organization election.

  if saved
    div.alert.alert-success(style="text-align: center") Your vote has been saved! You can recast it as often as you'd like before 8PM Tuesday, April 16th.
  else
    p(style="text-align: center") Cast your vote below. You can recast it as often as you'd like before 8PM Tuesday, April 16th.

  div.container
    form(method='post')
      .row
        each seo, seoname in positions
          div.span3
            h2 #{seoname}
            p
              a(href="/packets/" + seoname + ".pdf", style="text-decoration: underline", target="_blank") Click to read the election packet.
            each pos, posname in seo
              div.position(style="margin-bottom: 20px")
                h4= posname
                each person in pos
                  label(style=(String(answers['vote-' + seoname + '-' + posname]).indexOf(person.name) > -1 ? "font-style: italic" : ""))
                    input(name='vote-' + seoname + '-' + posname, type='checkbox', value=person.name, checked=String(answers['vote-' + seoname + '-' + posname]).indexOf(person.name) > -1, style="vertical-align: baseline")
                    |  &nbsp; #{person.name}

            p(style="margin-top: 10px; line-height: 14px")
              small(style="font-size: 10px; color: #999") When finished, scroll down and click "cast your vote".
                  
      div(style="text-align: center; margin-top: 20px")
        label(style="width: 400px; margin: 0 auto 10px")
          input.informed(type="checkbox", style="vertical-align: top", onclick="console.log($(this)); $(this).closest('div').find('button').prop('disabled', !this.checked)")
          |  &nbsp;I'm an informed voter
        button.btn.btn-success.btn-large.btn-primary(style="font-size: 30px; padding: 15px 30px", disabled) Cast Your Vote

    br